<div class="row">
    <div class="input-fiel" [ngClass]="inputField?.class" *ngFor="let inputField of inputFields" [formGroup]="formGroup">
        <label [attr.for]="inputField?.id">{{ inputField?.label }}</label>
        <input [type]="inputField?.type" class ="col-12" [dropSpecialCharacters]="false"
                [id]="inputField?.id"
                [mask]='inputField?.mask'
                [formControlName]='inputField?.control'
                [placeholder]='inputField?.placeholder'>
        <app-error-control 
            [mostrarError]= "verificaValidTouched(inputField?.control, inputField?.pattern, inputField?.exception)"
            [msgError]="msgError">
        </app-error-control>
    </div>
</div>